$backgroundMain: #1f1f1f;
$darkbutton: #52524f;
$inputBgColor: #313130;
$borderColor: #e5e4df;
$textColor: #d3d1c7;
$textColorDarker: #bdb9b9;
$hoverDark: #161616;

$expandedSidenavWidth: 275px;
$collapsedSidenavWidth: 50px;
